<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${header}">title place holder</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/vorlage.css" >
		<link rel="stylesheet" href="css/dropzone-5.7.0.min.css">
		
	</head>
	

	<body>

		<!-- handlebar templates -->
	 	<script id="movie-template" type="text/x-handlebars-template">
	 	
	 	<li>
	 		<img src="title.png" />
	 		<a href="/movie/{{id}}" >{{id}}</a>
	 		<a href="#">Download Json</a>
	 		<a href="#">Flashcard App</a>
	 		<a href="#">Youtube-Link</a>
	 	</li>
		</script>


		<main role="main">

			<!-- Main jumbotron for a primary marketing message or call to action -->
			<div class="jumbotron">
				<div class="container">
					<h1 th:text="${header}">header place holder</h1>
				</div>
			</div>

			<div class="container">
			
				<p th:text="${message}">Welcome place holder</p><br>
				
				<form action="/file-upload"
      				class="dropzone"
      				id="dropzone"></form>				 
				

                <ul id="movies">
					

				</ul>
 

			</div> <!-- /container -->



		</main>

		<footer class="container">
			<p>&copy; frittenburger.de 2020</p>
		</footer>

		<script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/dropzone-5.7.0.min.js"></script>
		<script src="../js/handlebars-v4.1.2.js"></script>
		
	   <script>
	   	Dropzone.autoDiscover = false;
	   
	   $( document ).ready(function() {
   
   
            var movieSource = document.getElementById("movie-template").innerHTML;
		    var movieTemplate = Handlebars.compile(movieSource);
   
			var myDropzone = new Dropzone("#dropzone");
		    myDropzone.on("success", function(file,response) {
		        console.log(response);
		    });


            $.get( "list-movies", function( data ) {
				console.log(data);
				var l = data.length;
				for (var i = 0; i < l; i++) {
				    var movie = $(movieTemplate({ 
				    	id: data[i]
				    }));
					$("#movies").append(movie);
				}
			});

			
	   });
	   </script>

	</body>

</html>
