<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${header}">title place holder</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/vorlage.css" >
		
	</head>
	

	<body>

		<!-- handlebar templates -->
	 	<script id="sentence-template" type="text/x-handlebars-template">
	 	   <div class="paragraph">
			<h3>{{text}}</h3>
			<div>
				<span>RI={{readingIndex}}</span>
			</div>
			<table>
				{{{rows}}}
			</table>
			<div class="commands clear">
				<span class="command icon right save" data-command="save" style="display:none">&#x1F4BE;</span>
				<span class="command icon left"  data-command="addrow">&#x2795;</span>
			</div>
		  </div>
		</script>


		<script id="row-template" type="text/x-handlebars-template">
			<tr>
				<td><span class="command icon" data-command="tolowercase" data-ref=".word">&darr;</span></td>
				<td><input class="word" value="{{word}}"></td>
				<td>
					<select class="type">
						{{#select type}}
						<option value="T:VERB">Verb</option>
						<option value="T:NOUN">Substantiv</option>
						<option value="T:ADJ">Adjektiv</option>
						<option value="T:ADV">Adverb</option>
						<option value="E:PERSON">Person</option>
						<option value="E:ORGANIZATION">Organisation</option>
						<option value="E:LOCATION">Ort</option>					
						{{/select}}
					</select>
				</td>
				<td><input type="number" class="level" size="4" value="{{level}}"></td>
				<td><span class="command icon" data-command="tolowercase" data-ref=".translation">&darr;</span></td>
				<td><input class="translation" value="{{translation}}"></td>
				<td><span class="command icon" data-command="deleterow">&#x1F5D1;</span></td>
			</tr>
		</script>

		<main role="main">

			<!-- Main jumbotron for a primary marketing message or call to action -->
			<div class="jumbotron">
				<div class="container">
					<h1 th:text="${header}">header place holder</h1>
				</div>
			</div>
			<div id="info">
				<td>
				<div>  
					<span class="command icon" data-command="before">&#x21D0;</span>
					<span id="paragraphs"></span> 
					<span class="command icon" data-command="next">&#x21D2;</span>
			     </div>
				<table>
					<tr><td>Verben</td><td id="verbs"></td></tr>
					<tr><td>Substantive</td><td id="nouns"></td></tr>
					<tr><td>Adjektive</td><td id="adjs"></td></tr>
					<tr><td>Adverben</td><td id="advs"></td></tr>
				</table>
			</div>
			
			<div id="metadata">
				
				<table>
					<tr><td>Title</td><td><input id="md-title" size="80"></td></tr>
					<tr><td>Image</td><td><input id="md-image" size="80"></td></tr>
					<tr><td>Image Offset</td><td><input id="md-image-top" size="5"></td></tr>
					<tr><td>Link</td><td><input id="md-link" size="80"></td></tr>
					<tr><td>Trailer</td><td><input id="md-link-trailer" size="80"></td></tr>
					<tr><td>Amazon</td><td><input id="md-link-amazon" size="80"></td></tr>
				</table>
				<div class="commands clear">
					<span class="command icon right save" data-command="save" style="display:none">&#x1F4BE;</span>
				</div>
			</div>


			<div id="vocabulary" class="container">
							
				

			</div> <!-- /container -->



		</main>

		<footer class="container">
			<p>&copy; frittenburger.de 2020</p>
		</footer>

		
  
		<script src="../js/jquery-3.4.1.min.js"></script>
		<script src="../js/handlebars-v4.1.2.js"></script>
		<script src="../js/handlebars-extensions.js"></script>

		<script>
			var movie = '[[${movie}]]';
		</script>
		<script src="../js/controls.js"></script>


	</body>

</html>
